.admin-login-component {
    background-image: linear-gradient(120deg, #6400ff, rgba(125, 99, 226, 1), #1c18e0)
}

.admin-login-component>h1 {
    color: white;
}

.login-form-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 20px auto;
    border: 2px solid black;
    width: 30%;
    padding: 3%;
    background-color: white;
    border-radius: 10px;
}



.login-form-container>label {
    margin: 20px;
}

.login-form-container>label {
    display: flex;
    flex-direction: column;
}

.login-form-container>input[type="submit"] {
    background-color: #f4a00e;
    color: black;
    font-size: 22px;
    border: 2px solid #0A58CA;
    border-radius: 15px;
    width: 200px;
}

.login-form-container>input[type="submit"]:hover {
    background-color: rgb(255, 255, 255);
    transition: ease .8s;
    border: 2px solid black;
    color: #0A58CA;
}

@media screen and (max-width:600px) {
    .login-form-container {
        width: 90%;
    }
}