.header-container {
    background-color: blue;
    top: 0;
    height: 40px;
    color: white;
    position: fixed;
    width: 100vw;
    overflow: hidden;
    justify-content: space-between;
    z-index: 1;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
}

.hospital-open-time {
    color: white;
}

.hospital-open-time:focus {
    color: white;
}

.header-container>div:nth-child(2)>span {
    margin: 0 10px;
    cursor: pointer;
}

.header-container>div:nth-child(1) {
    padding-left: 20px;
}

.header-container>div:nth-child(2)>span>a {
    color: white !important;
    text-decoration: none;
    margin-left:5px;
}

@media screen and (max-width:680px) {
    .header-container {
        /* background-color: hotpink; */
        font-size: 0.9rem;
        flex-direction: column;
        height: 50px;
        justify-content: center;
    }

    .header-container>div:nth-child(1) {
        padding-bottom: 10px;
    }
}