.feedback-form {
    display: flex;
    flex-direction: column;
    border: 4px solid rgb(58, 54, 54);
    width: 50%;
    padding: 20px;
    margin: 0 auto 40px;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 50px 58px 18px rgba(153, 153, 153, 1);
}

.feedback-form>label {
    margin: 10px 0;
    width: 400px;
    font-size: 24px;
}

.feedback-form>label>textarea {
    border: 2px solid green;
    width: 100%;
}

.feedback-heading {
    padding: 10px 30px;
    width: 60%;
    margin: 0 auto;
}

.feedback-form>input {
    margin: 10px 0;

}

.feedback-form input {
    width: 100%;
}

.feedback-hr {
    height: 5px;
    width: 100%;
    background-color: black;
    margin: 20px 0;
}

.feedback-form>input[type="submit"] {
    background-color: #f4a00e;
    color: black;
    font-size: 22px;
    border: 2px solid white;
    border-radius: 15px;
    width: 200px;
}

.feedback-form>input[type="submit"]:hover {
    background-color: rgb(255, 255, 255);
    transition: ease .8s;
    border: 2px solid black;
    color: #0A58CA;
}

@media screen and (max-width:1080px) {

    .feedback-form {
        width: 70%;
    }
}

@media screen and (max-width:720px) {

    .feedback-form {
        width: 80%;

    }

    .feedback-form>label {
        font-size: 20px;
    }

    .feedback-heading {
        font-size: 20px;
        padding: 10px 10px;
        text-align: justify;
    }

    .feedback-form>h3 {
        font-size: 21px;
    }
}

@media screen and (max-width:500px) {
    .feedback-heading {
        font-size: 18px;
        padding: 10px 5px;
        width: 90%;
    }
.feedback-form>label {
    margin: 10px 0;
    width: 250px;
    font-size: 24px;
}
    .feedback-form>label>textarea {
        border: 2px solid green;
        width: 100%;
    }
}