.footer-container {
    background-color: black;
    width: 100%;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 40px 0px;
    flex-wrap: wrap;
}

.footer-container>div {
    margin: 10px;
}

.footer-social-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* .footer-social-link:hover{
} */
.footer-links>a:hover,
.footer-links>div:hover,
.footer-links>div>a:hover {
    color: rgb(96, 96, 233);

}

.footer-links>a,
.footer-links>div {

    color: white;
    text-decoration: none;
    padding: 10px 5px 5px 0;
    /* border: 2px solid red; */
}

.useful-links {
    text-align: left;
}

@media screen and(max-width:480px) {
    .footer-container {
        /* flex-direction: row; */
        border: 22px solid red;
    }
}