.speciality-icon {
    height: 100%;
}

.speciality-icon>img {
    width: 200px;
    height: 100%;
    /* overflow: hidden; */
    /* border: 10px solid grey; */

}

.speciality-services-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}

.speciality-services-container>article {
    border: 1px solid grey;
    margin: 5px;
}

.speciality-service {
    display: flex;
    justify-content: center;
    align-items: center;
}

.speciality-content>div>p {
    text-align: justify;
    padding: 10px;
    overflow-y: scroll;
    height: 150px;
    /* border: 1px solid red; */

}

.speciality-service:hover {
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    transition: ease .7s;
}

@media screen and (max-width:1268px) {
    .speciality-services-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

    }
}

@media screen and (max-width:720px) {
    .speciality-services-container {
        grid-template-columns: repeat(2, 1fr);

    }

    .speciality-service {
        flex-direction: column;
    }

    .speciality-icon {
        width: 100%;
        height: 100%;

    }

    .speciality-content>div>p {
        height: 120px;

    }

    .speciality-icon>img {
        width: 100%;
        height: 100%;
    }
}

@media screen and (max-width:480px) {
    .speciality-services-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .speciality-service {
        flex-direction: column;
    }

    .speciality-content>div>p {
        height: 100px;
    }
}