.navbar-container {
    background-color: rgb(45, 67, 3);
    height: 80px;
    margin: 40px 0 0 0;
    top: 40px;
    justify-content: space-between;
    color: white;
    padding: 0 30px;
}

.navbar-container>nav>a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}